@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@300;400;500;700&display=swap');
//root
:root {
  --font-family: 'Ubuntu', sans-serif;
  --primary: #ff55a5;
  --bgd-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
}

body {
  font-family: var(--font-family);
  text-rendering: optimizeSpeed;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffffbf;
}

a,
button {
  transition: 0.4s ease;
}

.app {
  overflow: hidden;
}

// custom popper
.popper {
  box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
}
.popper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
}

// button
.wrapper-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: 4px;
  // + .wrapper-btn {
  //   margin-left: 10px;
  // }
}
.primary {
  box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
  min-width: 40px;
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  opacity: 0.82;
  &:hover {
    opacity: 1;
  }
  font-weight: 500;
}
.outline {
  min-width: 40px;
  background-color: transparent;
  border: 1px solid;
  outline: none;
  opacity: 0.82;
  font-weight: 500;
  &:hover {
    opacity: 1;
  }
}
.large {
  height: 50px;
  min-width: 130px;
}
.large .title {
  font-size: 14px;
}
.small {
  height: 40px;
  width: 90px;
}
.small .title {
  font-size: 13px;
}

.text-color-primary {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(0deg, #ff55a5, #ff5860);
  color: #ff5860;
}

// underline title
.underline-title {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  display: block;
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
}
